{% extends "base.html.twig" %}

{% block title %}User Register{% endblock %}

{% block header %}
    <div class="header">
        <img src="{{ asset('img/uppe.png') }}"/>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
{% endblock %}

{% block body %}
    <p class="msgSuccess"> New user successfully registered! :D<p>
{% endblock %}